
.main_chat
  .main_chat__group_list
    .main_chat__group_list--channel
      = @group.name
      .main_chat__group_list--channel---name  
        #text member:
        - @group.group_users.each do|group_user|
          =group_user.user.name
    .main_chat__group_list--editbox
      .main_chat__group_list--editbox---btn 
        = link_to edit_group_path(@group) do
          Edit
  .main_chat__message_list
    = render @messages
  .main_chat__message_form
    = form_for [@group, @message] do |f|
      .new_message--type
        
        .new_message--type---message
          = f.text_field :content, class:"input--text",placeholder:"Write your message"
          
        .new_message--type---image
          = f.label :image,class: "input--image" do
            = icon('fas', 'image')
            = f.file_field :image, class:"input--file"
      .new_message--send
        = f.submit 'Send', class: 'form--send'
      